# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Mac
.DS_Store

# Data
data/*.gpkg
data/*.csv
data/processed_metrics_cache.pkl
!data/communes2020.gpkg # Un-ignore if this is intended to be tracked, but normally should be ignored too.

# IDE
.vscode/
.idea/
